@charset "UTF-8";

@font-face {
    font-family: 'Sega';
    src: url('fonts/Games.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #124E9A;

}

header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.288);
}

header div img {
    width: 100px;
}

header > h1 {
    font-family: 'Sega', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 3.5em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.288);
    line-height: 0.8em;
    text-align: center;
    color: #124E9A;
}

div#icon {
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.473);
    margin: 10px;
}

main {
    display: grid;
    margin: 10px;
}

main > aside {
    padding: 10px 0px;
}


aside > a {
    display: none;
    padding: 5px 10px;
    margin-bottom: 2px;
    color: #124E9A;
    text-decoration: none;
    font-weight: bolder;
    font-family: sans-serif;
    background-color: #ffffff;
}

aside > a:hover {
    background-color: #124E9A;
    color: #ffffff;
}

section {
    background-color: white;
    grid-row: span 2;
}
